<script setup>
import { useQuery } from '@vue/apollo-composable'
import gql from 'graphql-tag'
import { watchEffect, computed, ref } from 'vue';

const variables = ref({
  channel: 'channel-pln',
})

//get produtcs
const GET_PRODUCTS_QUERY = gql`
        query ProductGetTwelveElements ($channel: String!) {
          products(first: 20, channel: $channel) {
            edges {
              node {
                id
                name
                created
                rating
                channel
                thumbnail {
                  url
                  alt
                }
                pricing {
                  onSale
                  priceRange {
                    start {
                      net {
                        amount
                      }
                    }
                  }
                }
              }
            }
          }
          shop {
            name
            description
            headerText
          }
        }
      `;


const { result, loading, error } = useQuery(GET_PRODUCTS_QUERY, variables);

function selectChannel (channel) {
  variables.value = {
    channel,
  }
}

function changeChannel (newChannel) {
  variables.value = {
    channel: newChannel
  }
}

//composable to use that result
const products = computed(() => result.value?.products.edges ?? []);
const store = computed(() => result.value?.shop ?? {});

watchEffect(() => {
  console.log(store)
  console.log(products)
})
</script>

<template>
<h1>{{ store.name }}</h1>
<h2>{{ store.headerText }}</h2>

<h3>Products</h3>
<div>
<button @click="changeChannel('default-channel')">Default Channel</button>
<button @click="changeChannel('channel-pln')">Pln Channel</button>
<button @click="changeChannel('raquel-channel')">Raquel Channel</button>
<button @click="changeChannel('joy-store')">Joy Store</button>
</div>
<p v-if="error"> {{ error }} </p>
<p v-if="loading"> Loading... </p>

<ul class="options-container" v-else>
  <li v-for="(product, index) in products" :key="index">
    <div class="card">
      <img :src="product.node.thumbnail.url" :alt="product.node.thumbnail.alt">
      <div class="card-text">
        <h3>{{ product.node.name }}</h3>
        <h2>$ {{ product.node.pricing.priceRange.start.net.amount }} </h2>
      </div>
    </div>
  </li>
</ul>

</template>

<style scoped>
/** clean styles **/
li {
  list-style: none;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 10rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
  background-color: gray;
}

.card img {
  width: 100%;
}

.card-text {
  width: 100%;
  height: 100%;
}

.card-text h3 {
  height: 4rem;
}

.card-text h2 {
  color: yellowgreen;
}
</style>
